version: '3'

services:
  db:
    container_name: fusee-db
    build:
      context: ./db
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: fuseE!3000
      POSTGRES_DB: fusee
      PGDATA: /temp/data
    ports:
      - 5432:5432
    volumes:
      - fusee-db:/var/lib/postgresql/data

  iam:
    container_name: fusee-iam
    build:
      context: ./iam
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: keycloaK!3000
      KEYCLOAK_IMPORT: /tmp/fusee-realm.json
    ports:
    - 8090:8080

  backend:
    container_name: fusee-be
    build:
      context: ./backend
    depends_on:
      - db
      - iam

volumes:
  fusee-db: { }
